
html{
    background: #f2f2f2;
    color: rgb(48, 48, 48);
    --delay-animation: 1s;
    --delay-animation-short: 500ms;
    --orange-main: rgb(248, 92, 45);
    --orange-secondary: rgb(233, 160, 65);
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins,sans-serif;
}

/*recipes*/
.flexbox__recipeTable__recipe {
    margin-bottom: 16px;
    padding: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.recipe_name {
    letter-spacing: 0.3px;
    line-height: 1.7;
    font-weight: 700;
    font-size: 1.2em;
}

.recipe_price,.recipe_portions {
    letter-spacing: 0.1px;
    line-height: 1.2;
    font-weight: 200;
    font-size: 1em;
}

.recipe_type {
    background: linear-gradient(45deg, var(--orange-main), var(--orange-secondary));
    width:fit-content;
    padding: 0.7em;
    color: white;
    border-radius: 2em;
    margin: 0.5em;
    font-size: 0.95em;
    font-weight: 600;
}

.flexbox__recipeTable__recipe__info {
    display:flex;
    position: relative;
}

.flexbox__recipeTable__recipe__info__details {
    padding: 0 8px;
    flex-grow: 1;
}

.flexbox__recipeTable__recipe__info__delete,.flexbox__recipeTable__recipe__info__toggle,.flexbox__recipeTable__recipe__info__edit {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    
}

.flexbox__recipeTable__recipe__info__delete{
    right: 0;
    top: 0;
}

.flexbox__recipeTable__recipe__info__toggle{
    right: 0;
    bottom: 0;
}

.flexbox__recipeTable__recipe__info__edit{
    visibility: hidden;
}

.flexbox__recipeTable__recipe__info__edit--active{
    visibility: visible;
    left: 85px;
    top: 85px;
}

.flexbox__recipeTable__recipe__description{
    visibility: hidden;
    display:flex;
    transition-duration: var(--delay-animation-short);
    transition-property: transform;
    transform-origin: top;
    transform:scaleY(0%);
    height: 0;
}
.flexbox__recipeTable__recipe__description--active{
    visibility: visible;
    display: flex;
    transition-duration: 200ms;
    transition-property: transform;
    transform-origin: top;
    transform:scaleY(100%);
    height: auto;
}

.flexbox__recipeTable__recipe__description__ingredients{
    background: grey;
    min-width: 6vw;
    min-height: 150px;
}

.flexbox__recipeTable__recipe__description__preparation{
    flex-grow: 1;
    background: rgb(177, 177, 177);
}

.flexbox__recipeTable__recipe__info__image {
    width: 120px;
    height: 120px;
}



/*LEFT MENU*/
.leftMenu {
    position: absolute;
    width: 300px;
    left: -300px;
    transition: var(--delay-animation);
}

.leftMenu__add, .leftMenu__filter {
    position: absolute;
    width: 300px;
    background: var(--orange-main);
    left: -300px;
    transition: var(--delay-animation);
}

.leftMenu--active, .leftMenu__add--active, .leftMenu__filter--active {
    left:0;
}

.leftMenu__buttons {
    position: absolute;
    top: 30px;
    left:350px;
    transition: var(--delay-animation);
}

.leftMenu__buttons--active {
    left:-100px;
}

.leftMenu__buttons button{
    display: block;
    margin-bottom: 0.5vh;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: var(--delay-animation);
}

.leftMenu__buttons--active button{
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
}

button {
    border:none;
    background:linear-gradient(45deg, var(--orange-main), var(--orange-main));
    color:white;
    transition: var(--delay-animation-short);

}

button:hover {
    background: linear-gradient(45deg, var(--orange-main), var(--orange-secondary));
}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.flexbox__recipeTable {
    
    width: 60vw;
}

.flexbox__rightMenu {
    width: 8vw;
}

.flexbox__rightMenu__category { 
    display: block;
    width:5vw;
    height: 20px;
    background: var(--orange-main);
    transition-duration: var(--delay-animation-short);
    transition-property: transform;
    transform-origin: left;
    transform:scaleX(100%);
    margin-top: 10px;
}

.flexbox__rightMenu__category--active {
    display: block;
    height: 20px;
    background: var(--orange-secondary);
    transition-duration: var(--delay-animation-short);
    transition-property: transform;
    overflow: hidden;
    transform-origin: left;
    transform:scaleX(20%)
}



.flexbox__rightMenu__category__name.flexbox__rightMenu__category--active {
    display: none;
}

.flexbox__rightMenu__addCategory {
    display: flex;
    visibility: hidden;
    height: 0;
}

.flexbox__rightMenu__addCategory.flexbox__rightMenu__addCategory--active {
    visibility: visible;
    height: auto;
}

.flexbox__rightMenu__toggle {
    visibility: visible;
    height: auto;
}

.flexbox__rightMenu__toggle.flexbox__rightMenu__toggle--hidden {
    visibility: hidden;
    height: 0;
}
