
html{
    background: #f2f2f2;
    color: rgb(48, 48, 48);
    --delay-animation: 3s;
    --delay-animation-short: 500ms;
    --orange-main: rgb(248, 92, 45);
    --orange-secondary: rgb(233, 160, 65);
    width: 100vw;
}

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins,sans-serif;
}

/*recipes*/
.flexbox__recipeTable__recipe {
    margin-bottom: 16px;
    padding: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
}

.recipe_name {
    letter-spacing: 0.4px;
    line-height: 2;
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.recipe_price,.recipe_portions {
    letter-spacing: 0.2px;
    line-height: 1.2;
    font-weight: 100;
    font-size: 1.2em;
    margin-left: 0.7em;
}

.recipe_type {
    background: linear-gradient(45deg, var(--orange-main), var(--orange-secondary));
    width:fit-content;
    padding: 0.7em;
    color: white;
    border-radius: 2em;
    margin: 1.2em 0 0 0.5em;
    font-size: 1.05em;
    font-weight: 600;
}

.flexbox__recipeTable__recipe__info {
    display:flex;
    position: relative;
}

.flexbox__recipeTable__recipe__info__details {
    
    padding: 0 8px;
    flex-grow: 1;
    max-width: 84%;
}

.flexbox__recipeTable__recipe__info__toggle,.flexbox__recipeTable__recipe__info__edit {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    
}

.flexbox__recipeTable__recipe__info__delete{
    position: absolute;
    background: rgb(228, 65, 0);
    width: 35px;
    height: 35px;
    right: -12px;
    top: -12px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.flexbox__recipeTable__recipe__info__toggle{
    right: 0;
    bottom: 0;
}

.flexbox__recipeTable__recipe__info__edit{
    visibility: hidden;
}

.flexbox__recipeTable__recipe__info__edit--active{
    visibility: visible;
    left: 85px;
    top: 85px;
}

.flexbox__recipeTable__recipe__description{
    visibility: hidden;
    display:flex;
    transition-duration: var(--delay-animation-short);
    transition-property: transform;
    transform-origin: top;
    transform:scaleY(0%);
    height: 0;
}
.flexbox__recipeTable__recipe__description--active{
    visibility: visible;
    display: flex;
    transition-duration: 200ms;
    transition-property: transform;
    transform-origin: top;
    transform:scaleY(100%);
    height: auto;
}

.flexbox__recipeTable__recipe__description__ingredients{
    background: grey;
    min-width: 6vw;
    min-height: 150px;
}

.flexbox__recipeTable__recipe__description__preparation{
    flex-grow: 1;
    background: rgb(177, 177, 177);
}

.flexbox__recipeTable__recipe__info__image {
    width: 170px;
    height: 170px;
}



/*LEFT MENU*/
.leftMenu {
    position: absolute;
    width: 300px;
    left: -300px;
    transition: var(--delay-animation);
}

.leftMenu__add, .leftMenu__filter {
    position: absolute;
    width: 300px;
    background: white;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 10%);
    left: -300px;
    transition: var(--delay-animation);
}

.leftMenu--active, .leftMenu__add--active, .leftMenu__filter--active {
    left:0;
}

.leftMenu__button__add {
    font-size: 1.8em;
    position: fixed;
    top: 30px;
    left:50px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 1.35s cubic-bezier(0.4,-0.49, 0.59, 1.52);
}

.leftMenu__button__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    position: fixed;
    top: 90px;
    left:50px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: 1.05s cubic-bezier(0.4,-0.49, 0.59, 1.52);
}

.leftMenu__button__add:hover, .leftMenu__button__filter:hover {
    animation: leftMenu_glow 0.3s ease-in forwards;
}

.leftMenu__button__add.leftMenu__buttons--active  {
    position: fixed;
    left:-100px
}

.leftMenu__button__filter.leftMenu__buttons--active {
    position: fixed;
    left: -100px
}

button {
    border:none;
    background: var(--orange-main);
    color: white;
}

.flexbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.flexbox__recipeTable {
    
    width: 50vw;
}



/*Categories*/

.flexbox__rightMenu {
    width: 10vw;
}

.flexbox__rightMenu__category { 
    display: block;
    width: 200px;
    font-size: 1.2em;
    height: 35px;
    color: white;
    border-radius: 50% 50% 0 0;
    font-weight: 600;
    overflow: hidden;
    background: var(--orange-secondary);
    transition: var(--delay-animation-short);
    margin: 10px 0 0 10px;
    border-radius: 20px 20px 20px 20px ;
}

.flexbox__rightMenu__category:hover { 
    background: rgb(240, 178, 63);
}

.flexbox__rightMenu__category--active {
    display: block;
    height: 35px;
    background: var(--orange-secondary);
    transition: var(--delay-animation-short);
    overflow: hidden;
    width: 60px;
    border-radius: 20px 20px 20px 20px;
}

.flexbox__rightMenu__category--active:hover {
    background: rgb(240, 178, 63);
}



.flexbox__rightMenu__category__name.flexbox__rightMenu__category--active {
    display: none;
}

.flexbox__rightMenu__addCategory {
    display: flex;
    visibility: hidden;
    width:0px;
    height: 0;

}



.flexbox__rightMenu__addCategory--active {
    visibility: visible;
    height: fit-content;
    width: 200px;
}

.flexbox__rightMenu__addCategory .flexbox__rightMenu__addCategory__name {
    animation: none;
    margin: 10px 0 0 10px;
    padding-left: 0.8em;
    border-radius: 30px 0 0 30px;
    border-style: none;
    height: 35px;
}

.flexbox__rightMenu__addCategory--active .flexbox__rightMenu__addCategory__name {
    height: 35px;
    animation: grow 2s forwards;
}

.flexbox__rightMenu__addCategory__add {
    width: 30px;
    border-radius: 0 30px 30px 0;
    height: 35px;
    margin-top: 10px;
}

.flexbox__rightMenu__toggle {
    font-size: 1.8em;
    visibility: visible;
    background: rgb(247, 199, 137);
    height: 35px;
    width: 35px;
    border-radius: 20px;
    margin: 10px 0 0 10px;
    transition-property: hover;
    transition: 0.3s ease-in;
}

.flexbox__rightMenu__toggle:hover {
    width: 60px; 
}

.flexbox__rightMenu__toggle.flexbox__rightMenu__toggle--hidden {
    display: none;
}

.leftMenu__burger {
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.leftMenu__burger::after,
.leftMenu__burger::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: white;
    border-radius: 5px;
}

.leftMenu__burger::before {
    transform: translate(-50%, -7px);
}

.leftMenu__burger::after {
    transform: translate(-50%, 7px);
}

@keyframes grow {
    0% {
        width: 0px;
    }

    100% {
        width: 120px;
    }
}

@keyframes leftMenu__shrink {
    0% {
        left: 0px;
    }

    100% {
        left: -100px
    }
}

@keyframes leftMenu_glow {
    0% {
        background-color: var(--orange-main);
    }

    100% {
        background-color: rgb(252, 124, 50);
    }
}
